
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login_user</title>
</head>
<body>
    <div>
 
    @Styles.Render("~/Content/formulario.css")
    @Styles.Render("~/Content/tabla.css")
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div>
                        <div class="form-group">
                            &nbsp&nbsp<label for="name">
                                Iteractions</label>&nbsp
                                <a id="New" class="btn btn-info" href="#">New</a>
                                <a id="Remove" class="btn btn-info" href="#">Remove</a>
                                <a id="Run" class="btn btn-info" href="#">Run</a>
                        </div>
                       
                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
      
                    <div>

                    </div>

                        </div>
                    </div>

                </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">

                   <div>
                        <div class="form-group">
                        <div id="interacion">Lista de Interacciones:</div>
                        <div id="ListaIteracions">

                        </div>
                        </div>
                    </div>

                </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
    </div>


    <footer>

         <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script type='text/javascript'>

            $(document).ready(function () {

                var pa_vaString;
                var vparametro;
                var vvalue;
                var datos;

                $("#New").on('click', function () {

                    pa_vaString = "";
                
                    $("#contenedor div").each(function (index) {

                   

                        $(this).children('input').each(function (index2) {

                            if (index2 == 0) { vparametro = this.value; }
                            else { vvalue = this.value }

                        });


                        pa_vaString =  pa_vaString + '{ "parametro":' + '"' +vparametro + '"' +', "value":' + '"' +vvalue+ '"' + '},';
  
                    });

                    
                    pa_vaString = '{"list":[' + pa_vaString + ']}';



                    $.ajax({
                        type: 'POST',
                        url: "/Interacion/register_Interacion",
                        data: {
                            id_user: '@ViewBag.prueba[0].id',
                            name: document.getElementById('name').value,
                            url: document.getElementById('url').value,
                            action: document.getElementById('action').value,
                            verb: document.getElementById('verb').value,
                            pa_va: pa_vaString,

                             },

                        success: function (data) {

                            datos = data;
                            buil_table(datos);


                                 $(function () {

                                     document.getElementById('name').value = "",
                                     document.getElementById('url').value = "",
                                    document.getElementById('action').value = ""
                                     document.getElementById('contenedor').innerHTML = "";
                                     
                                 });//fin  $(function() {


                             }// fin de success

                         });// fin function ajax


                });//$("#NEW").on('clik', function () {


                $.ajax({
                    type: 'POST',
                    url: "/Interacion/get_Interacion",
                    data: {
                        id_user: '@ViewBag.prueba[0].id',
                        },

                    success: function (data) {

                        datos = data;
                        buil_table(datos);

                    }// fin de success

                });// fin function ajax

             


              $("#Run").on('click', function () {

             
                buil(datos);

                });//$("#Run").on('clik', function () {
    

              $(".delete").on('click', function () {


                  alert("hola");

              });//$("#Run").on('clik', function () {





            });

       

            

        </script>


        <script>

           

            function buil_table(data) {

                var array_parametro = {};

                var tabla = "<div class='CSSTableGenerator'><table > <tr> <td>Check</td> <td>Iteraciones</td> <td>Parametros</td> <td>Value</td> </tr> ";


                for (var i = 0; data.Iteracion.length > i; i++) {

                    array_parametro = eval('(' + data.Iteracion[i].parametro + ')');

                    var p = "";
                    var v = "";


                    //recorro el json de string generado
                    for (var a = 0; array_parametro.list.length > a; a++) {

                        p = p + array_parametro.list[a].parametro + '<br>';
                        v = v + array_parametro.list[a].value + '<br>';

                        //alert(pa_va.list[a].parametro);

                    }

                    //  $('#ListaIteracions').append('<div><input type="text"  value="' + data.Iteracion[i].name + '" required="required"/>' + '<p>' + data.Iteracion[i].parametro + '<p/><a href="#" class="delete">&times;</a></div>');



                

                    tabla = tabla + '<tr> <td> <button type="button" onclick="myFunction(' + data.Iteracion[i].id + ')">Delete</button>' +
                                    '</td> <td>' + 'Name: ' + data.Iteracion[i].name + '<br>' + 'Url: ' + data.Iteracion[i].url + '<br>' + 'Action: ' + data.Iteracion[i].action + '<br>' + 'Verb: ' + data.Iteracion[i].verb + '<br>' +
                                    '</td> <td>' + p +
                                    '</td> <td>' + v +
                                    '</td> </tr>';



                    //alert(data.Iteracion[i].name);
                }
                tabla = tabla + "</table> </div>";

                document.getElementById('ListaIteracions').innerHTML = tabla;

            }

            function buil(datos) {

             // alert(datos.Iteracion[0].name);
                   
                    
                      var sin_report = "";
                     var count = 0;

                     for (var i = 0; datos.Iteracion.length > i; i++) {

                         

                    var array_parametro = eval('(' + datos.Iteracion[i].parametro + ')');
                    var parametros = null;
                   

                    //recorro el json de string generado
                    for (var a = 0; array_parametro.list.length > a; a++) {
                        
                        var p = array_parametro.list[a].parametro;
                        var v = array_parametro.list[a].value;

                        if (parametros == null) {
                            parametros = p + '=' + v;
                        } else {
                            parametros = parametros + '&' +  p + '=' + v;
                        }

                        

                      
              
                        //alert(pa_va.list[a].parametro);
                        //data: "status=testing&name=ronny",
                    }

                     //alert(datos.Iteracion[i].url + datos.Iteracion[i].action);
                     //alert(datos.Iteracion[i].url + datos.Iteracion[i].action);
                    $.ajax({
                        type: datos.Iteracion[i].verb,
                        url: datos.Iteracion[i].url + datos.Iteracion[i].action,
                        data:parametros,
                        
                        success: function (data) {

                            count = count+ 1; 
                           
                            sin_report = sin_report + 'Interacion ' + count + ' ';
                    
                            if (new String(data) == "[object Object]") {

                              
                                sin_report = sin_report + JSON.stringify(data);
                           // alert(JSON.stringify(data));
                            } else {

                               
                                sin_report = sin_report + data;
                       // alert(data);
                            }

                       

                            //location.href = '../Reporte/report';
                            
                            if(data.Iteracion.length -1 < count){
                            

                                save_reporte(sin_report, datos.Iteracion[0].id_user);

                            }

                        }// fin de success

                        

                    });// fin function ajax
                  

                  }//fin for

                 
                  
                  

            }

            function save_reporte(result, id_user) {
                        
                     
                     $.ajax({
                         type: 'POST',
                         url: '/Reporte/register_reporte',
                         data: {
                             result: result,
                             id_user: id_user,
                         },

                         success: function (data) {

                             alert('Reporte Guardado' + result);
                             

                         }// fin de success

                     });// fin function ajax
                 }

            function myFunction(id) {

                $.ajax({
                    type: 'post',
                    url: '/Interacion/delete_Interacion',
                    data: {
                        id_iteracion: id,
                    },

                    success: function (data) {

                        $.ajax({
                            type: 'POST',
                            url: "/Interacion/get_Interacion",
                            data: {
                                id_user: '@ViewBag.prueba[0].id',
                    },

                            success: function (data) {

                                datos = data;
                                buil_table(datos);

                            }// fin de success

                        });// fin function ajax
                     
                    }// fin de success


                });// fin function ajax

            }

        </script>
        

    </footer>

</body>

    
</html>
