<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Proyecto 2014</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")


       
    </head>
    <body>
        <header>
            <div class="content-wrapper">
              
              
    
    @Styles.Render("~/Content/formulario.css")
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <input type="text"  id="name" name="name" placeholder="Google Serch" required="required" size="30"/>
                        </div>
                       <div class="form-group">
                            <label for="URLBase">
                                URL Base</label>&nbsp
                            <input type="text"  id="url" name="urlbase" placeholder="http//:localHost/" required="required" size="30"/>
                        </div>
                        <div class="form-group">
                            <label for="action">
                                Action</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <input type="text"  id="action" name="action" placeholder="Resource" required="required" size="10" />
                       
                            <label for="verb">
                                Verb</label>
                            <select id="verb" name="verb" required="required">
                                <option value="get" selected="">GET</option>
                                <option value="post">POST</option>
                                <option value="put">PUT</option>
                                <option value="delete">DELETE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        
                           
                          
<div id="contenedor">
    <div>
        <input type="text" name="mitexto[]" id="campo_1" placeholder="Parametro 1" required="required"/><input type="text" name="value[]" id="value_1" placeholder="value 1" required="required"/><a href="#" class="eliminar">&times;</a>
    </div>
</div>

                        </div>
                    </div>

                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span>PostMan User: @ViewBag.prueba[0].username</legend>
       
                   <a id="agregarCampo" class="btn btn-info" href="#">Agregar Parametro</a>
               
            </form>

        </div>
    </div>
</div>

            </div>
        </header>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <footer>
           

  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

             <script type='text/javascript'>

                 $(document).ready(function () {

                     var MaxInputs = 1000; //Número Maximo de Campos
                     var contenedor = $("#contenedor"); //ID del contenedor
                     var AddButton = $("#agregarCampo"); //ID del Botón Agregar

                     //var x = número de campos existentes en el contenedor
                     var x = $("#contenedor div").length + 1;
                     var FieldCount = x - 1; //para el seguimiento de los campos

                     

                     $(AddButton).click(function (e) {
                         if (x <= MaxInputs) //max input box allowed
                         {
                             FieldCount++;
                             //agregar campo
                             $(contenedor).append('<div><input type="text" name="mitexto[]" id="campo_' + FieldCount + '" placeholder="Parametro ' + FieldCount + '" required="required"/>' + '<input type="text" name="value[]" id="value_' + FieldCount + '" placeholder="Value ' + FieldCount + '"/><a href="#" class="eliminar" required="required">&times;</a></div>');
                             x++; //text box increment
                         }
                         return false;
                     });

                     $("body").on("click", ".eliminar", function (e) { //click en eliminar campo
                         if (x > 1) {
                             $(this).parent('div').remove(); //eliminar el campo
                             x--;
                         }
                       

                         return false;
                     });


                 });

        </script>

        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
